<div class="fixed inset-0 flex items-center justify-center z-50" (click)="cerrarConAnimacion()"
    [class.animate-(--animate-modal-fade-in)]="!cerrando()" [class.animate-(--animate-modal-fade-out)]="cerrando()">

    <div class="relative bg-[var(--bg-elevated)] rounded-xl shadow-2xl w-full max-w-md p-6 text-[var(--text-primary)]"
        (click)="$event.stopPropagation()" [class.animate-(--animate-modal-fade-in)]="!cerrando()"
        [class.animate-(--animate-modal-fade-out)]="cerrando()">
        <!-- ❌ Botón flotante -->
        <button (click)="cerrarConAnimacion()"
            class="absolute top-3 right-3 w-10 h-10 flex items-center justify-center rounded-full text-2xl text-[var(--text-secondary)] hover:text-[var(--danger)] hover:bg-[var(--bg-muted)] transition"
            title="Cerrar">
            &times;
        </button>
        <!-- 🧩 Contenido del modal -->
        <ng-content></ng-content>

    </div>
</div>