<ion-app>
  <!-- Sidebar / Menu -->
  <ion-menu content-id="main-content" side="start" menu-id="first" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>🏋️ Mi App</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        @if (usuario()) {
        @switch (usuario()?.rol) {
        @case ('cliente') {
        <ion-item routerLink="/cliente" routerLinkActive="selected">
          Inicio Cliente
        </ion-item>
        <ion-item routerLink="/cliente/detalle" routerLinkActive="selected">
          Detalle Cliente
        </ion-item>
        }
        @case ('entrenador') {
        <ion-item routerLink="/entrenador" routerLinkActive="selected">
          Inicio Entrenador
        </ion-item>
        <ion-item routerLink="/entrenador/detalle" routerLinkActive="selected">
          Detalle Entrenador
        </ion-item>
        }
        @case ('admin') {
        <ion-item routerLink="/gimnasio" routerLinkActive="selected">
          Inicio Gimnasio
        </ion-item>
        <ion-item routerLink="/gimnasio/detalle" routerLinkActive="selected">
          Detalle Gimnasio
        </ion-item>
        }
        @case ('entrenador_admin') {
        <ion-item routerLink="/gimnasio" routerLinkActive="selected">
          Inicio Gimnasio
        </ion-item>
        <ion-item routerLink="/gimnasio/detalle" routerLinkActive="selected">
          Detalle Gimnasio
        </ion-item>
        }
        }
        }
      </ion-list>


      <ion-button expand="block" color="danger" (click)="logout()">
        🚪 Cerrar sesión
      </ion-button>
    </ion-content>
  </ion-menu>

  <!-- Main content -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mi App</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true" class="ion-padding">
      <router-outlet></router-outlet>
    </ion-content>
  </div>
</ion-app>