<div class="relative min-h-dvh bg-brand-neutral px-8 flex items-start justify-center">

  <!-- Fondo con blur -->
  <div class="absolute inset-0 z-0">
    <div class="w-full h-full bg-[url('/assets/images/bg.jpg')] bg-cover bg-center blur-xs"></div>
    <div class="absolute inset-0 bg-gradient-to-b from-transparent via-black/80 to-black pointer-events-none"></div>
  </div>

  <!-- Botón volver para atrás -->
  <div class="absolute top-0 left-0">
    <ion-buttons slot="start" class="">
      <ion-back-button
        defaultHref="/auth/welcome"
        class="fixed top-4 left-3  px-2 py-2 rounded-full text-white"
        mode="md">
      </ion-back-button>
    </ion-buttons>
  </div>

  <!-- Contenido encima del fondo -->
  <div class="z-10 relative mt-28 w-full">

    <h1 class="text-white text-left font-semibold font-heading text-2xl mb-4">
      Recuperar Contraseña
    </h1>

    <form [formGroup]="form" (ngSubmit)="submit()"
      class="relative w-full max-w-md  space-y-4 animate-fade-in mb-6">

      <p class="text-base bg-amber-500/25 p-4 rounded-md mb-6">
        <strong class="block mb-2">Atención!</strong>
        <span class="block">📧 Te enviaremos un enlace para restablecerla.</span>
      </p>

      @if (!sent()) {
      <!-- 📧 Campo de Email -->
      <ion-input
        placeholder="Email"
        formControlName="email"
        type="email"
        fill="outline"
        id="email"
        class="gym-input text-white mt-0"
        >
      </ion-input>

      @if (form.get('email')?.touched && form.get('email')?.invalid) {
      <div class="text-sm text-[var(--danger)] mt-1 ml-1">
        @if (form.get('email')?.errors?.['required']) {
        El correo es obligatorio.
        } @else if (form.get('email')?.errors?.['email']) {
        Ingresá un correo válido.
        }
      </div>
      }

      <ion-button
          type="submit"
          [disabled]="form.invalid || loading()"
          expand="block"
          fill="solid"
          size="large"
          shape="round"
          class="gym-btn-accent mt-8"
          mode="">
            {{ loading() ? 'Cargando...' : 'Enviar Enlace' }}
      </ion-button>

      } @else {
      <!-- ✅ Mensaje de éxito -->
      <p class="text-[var(--success)] text-center font-semibold">
        ¡Correo enviado! Revisá tu bandeja de entrada.
      </p>
      }
    </form>

  </div>
</div>
