@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


/* ───────────────────────────────────────────────────────────────── */
/* 🌞 Modo Light                                                    */
/* ───────────────────────────────────────────────────────────────── */

@theme {

  /* 🎨 DESIGN TOKENS  */
  --color-brand-accent: #bff820; /* no cambia*/
  --color-brand-primary: #ffffff;
  --color-brand-secondary: #e6e6e6;
  --color-brand-neutral-500: #a6a6a6;
  --color-brand-dark: #000000;
  --color-brand-light: #ffffff;


  /* Components */
  --font-base: 'Manrope', system-ui, sans-serif;
  --font-heading: 'Exo', system-ui, sans-serif;

  --text: var(--color-brand-dark);
  --text-light: var(--color-brand-secondary);


  --input-rounded: 10px;


}




/* ───────────────────────────────────────────────────────────────── */
/* 🌙 -- Modo Dark */
/* ───────────────────────────────────────────────────────────────── */

@media (prefers-color-scheme: dark) {
  :root {

    /* 🎨 DESIGN TOKENS  */
    --color-brand-accent: #bff820; /* no cambia */
    --color-brand-primary: #202430;
    --color-brand-secondary: #2f3742;
    --color-brand-neutral-500: #a6a6a6;
    --color-brand-dark: #000000;
    --color-brand-light: #ffffff;


    /* Components */
    --font-base: 'Manrope', system-ui, sans-serif;
    --font-heading: 'Exo', system-ui, sans-serif;

    --text: var(--color-brand-light);

    --input-rounded: 10px;



  }
}




/* 1️⃣ -- @layer base : Estilos globales  */
/* ─────────────────────────────────────────────── */
@layer base {
  html {
    color: var(--text);
    font-family: var(--font-base);
    font-size: var(--text-base);
  }
}
